*, *:before, *:after {
  box-sizing: border-box;
}

body {
  background-color: #fff;
  font-size: 10px;
  width: 100%;
  display: block;
}

.container {
  background-color: #dadada;
  margin: 0 auto;
  width: 100%;
  height: 1340px;
  display: block;
}

div {
  background-color: #fff;
  width: 100%;
  height: 300px;
  padding: 20px 25px;
  display: block;
}

/* code added to create two-column design */
@media screen and (min-width: 575px){
    div {
    margin: 1%;
    width: 48%;
    display: block;
    float: left;
  }
}

/* code added to create four-column design */
@media screen and (min-width: 991px){
    div {
    margin: 1%;
    width: 23%;
    display: block;
    float: left;
  }
}

.title {
  font-family: 'Avenir Next', sans-serif;
  font-weight: 500;
  text-transform: uppercase;
  text-align: center;
  padding: 4%;
  padding-top: 6%;
}

h1 {
  font-size: 2em;
  margin: 0;
  padding: 2%;
}

.preview.baku {
  background: url('../images/baku.jpg');
  background-size: cover;
  background-position: center;
  margin-bottom: 20px;
  max-width: 100%;
  max-height: 100%;
}

.preview.london {
  background: url('../images/london.png');
  background-size: cover;
  background-position: center;
  margin-bottom: 20px;
  max-width: 100%;
  max-height: 100%;
}

.preview.madrid {
  background: url('../images/madrid.jpg');
  background-size: cover;
  background-position: center;
  margin-bottom: 20px;
  max-width: 100%;
  max-height: 100%;
}

.preview.rome {
  background: url('../images/rome.jpg');
  background-size: cover;
  background-position: center;
  margin-bottom: 20px;
  max-width: 100%;
  max-height: 100%;
}
